
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background: var(--fondo);
  font-family: 'Bebas Neue', cursive;
  
/*  background: linear-gradient(rgb(23, 20, 216) ,rgb(23, 20, 216) )*/
}





.contenedor{
  width: 90%;
  margin: auto;
}


header {
  /*padding: 100px 0;
  background: blue;
  margin: 0.5% ;*/
  


  text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

header .contenedor {
  display: flex;
 justify-content: space-between;
  align-items: center;

  width: 100%;
	height: 100%;
	padding: 100px;
	color: #FFF;
  text-shadow: 1px 1px 1px #333;
 background-image: linear-gradient( 135deg, #002081f8 0%, #032ebbe3 0%);
}

header .contenedor h2{
  color: cornsilk;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
}
header .logotipo {
  font-family:'Bebas Neue', cursive;
  font-weight: normal;
  
  font-size: 40px;
}
header nav a {
  color: cornsilk;
  text-decoration: none;
  margin-right: 20px;
  text-align: right;
}
header nav a:hover,
header nav a.activo {
  color:darkgrey ;
  

}
 
.footer{
  background-color: mediumblue;
  font-family: monospace;
  text-align: center;
  font-size: 100%;
  color: white;

 
 
 
 
}
.footer a{
  color: mintcream;
}
.footer img{
  width: 300px;
  
}
   
