<body>
    


        <main >
             <div class="Afiche-Principal">
                <div class="contenedor">
                <h3 class="tituloAfiche"> Wason</h3>
                <p class="descripcion"> Expondremos este poster del wason el cual jebfdsdbfjad ja fjbs fjbasjfjbjsdbsadbfds</p>
                <button role="button" class="button">Ver pantalla completa</button>
                
                <button role="button" class="button">Puntuar</button>
                
                </div>
            </div>

            <div class="carrusel-contenedor contenedor" >
                <div class="contenedor-titulo-controles">
                    <h3>Posters disponibles</h3>
                    <div class="indicadores">
                        <button></button>
                        <button></button>
                        <button></button>
                        <button></button>
                         <button></button>
                    </div>
                </div>

                <div class="contenedor-principal"  >
                    
                    <button role="button" id="flecha-izquierda" class="flecha-izquierda" (click)="correrizquierda()" ><i class="fas fa-angle-left"></i></button>
                   
                
                    <div class="contenedor-carrusel">
                     <div class="carrusel">

                        <div class="poster" *ngFor='let post of listaimagenes'>
                            <img src= {{post}} alt="">  
              
              
                          </div>
                           <!-- <div class="poster">
                                <a href="http://">
                                    <img src="../../assets/images/uno.png" alt="">
                                   
                                </a>
                                <p>hola que mas</p>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/dos.png" alt="">
                            </a>
                            <p>hola que mas</p>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/tres.png" alt="">
                            </a>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/cuatro.png"  alt="">
                            </a>
                           
                        </div>
                        <div class="poster">
                            <a href="http://google.com">
                                <img src="../../assets/images/cinco.png.png" alt="">
                            </a>
                           
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/seis.png" alt="Imagen seis"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/seven.png" alt="Imagen siete"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="#"><img src="../../assets/images/ocho.png" alt="Imagen ocho"></a>
                            
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/uno.png" alt="">
                            </a>
                            <p>hola que mas</p>
                      
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/dos.png" alt="">
                            </a>
                            <p>hola que mas</p>
                        
                        </div>
                        <div class="poster">
                            <a href="http://">
                                <img src="../../assets/images/tres.png" alt="">
                            </a>
                            <p>hola que mas</p>
                       
                    </div>
                    <div class="poster">
                        <a href="http://">
                            <img src="../../assets/images/uno.png" alt="">
                        </a>
                        <p>hola que mas</p>
                   
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/dos.png" alt="">
                    </a>
                    <p>hola que mas</p>
                    
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/tres.png" alt="">
                    </a>
                  
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/cuatro.png"  alt="">
                    </a>
                   
                </div>
                <div class="poster">
                    <a href="http://google.com">
                        <img src="../../assets/images/cinco.png.png" alt="">
                    </a>
                    
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/seis.png" alt="Imagen seis"></a>
                   
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/seven.png" alt="Imagen siete"></a>
                    
                </div>
                <div class="poster">
                    <a href="#"><img src="../../assets/images/ocho.png" alt="Imagen ocho"></a>
                  
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/uno.png" alt="">
                    </a>
                    <p>hola que mas</p>
                
                </div>
                <div class="poster">
                    <a href="http://">
                        <img src="../../assets/images/dos.png" alt="">
                    </a>
                    <p>hola que mas</p>
                
                </div>-->

                    </div>
             </div>    
             
          <button role="button" id="flecha-derecha" class="flecha-derecha" (click)="correrderecha()"><i class="fas fa-angle-right"></i></button>
                </div>
                
            </div>

            
            
      </main>

     
        
    </body>

    
       


