<div class>
<div fxLayoutAlign="center center" fxFlexFill class="main-div"  *ngFor='let post of listausuarios'>
    
    <mat-card fxFlex="60" class="espacio">
        <h1> Nombre de Usuario : {{post.nombreUsuario}}</h1>
        <p>Nombres : {{post.nombres}}</p>
        <p>Apellidos : {{post.apellidos}}</p>
        <p>Correo: {{post.correo}}</p>
        <h2> Rol que desea : {{post.Rol}}</h2>
        <button mat-flat-button class="buttonColor" >Aceptar</button>
        <button mat-stroked-button (click)=" deleteuser(post.idUser)" color="warn"  class="buttonColordos">Denegar</button>
        </mat-card>
</div>
