
<div class="contenedor">
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
   
    <mat-toolbar class="tool">REGISTRATE </mat-toolbar>
    <form  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
       
      <mat-form-field>
        <mat-label>Ingresa tu Nombre de usuario</mat-label>
        <input matInput  [(ngModel)]="usuarios.nombreUsuario" name="nombreu" placeholder=" Nombre de Usuario">
      </mat-form-field>
    
      <mat-form-field >
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput  [(ngModel)]="usuarios.contrasena" name="contraseña"  type= "password"placeholder="Contraseña">
      </mat-form-field>
      
      <mat-form-field >
      <mat-label>Ingresa tus  Nombres</mat-label>
        <input matInput [(ngModel)]="usuarios.nombres" name="nombres"  placeholder="Nombres Completos">
      </mat-form-field>
      <mat-form-field >
      <mat-label>Ingresa tus Apellidos</mat-label>
        <input matInput   [(ngModel)]="usuarios.apellidos" name="apellidos" placeholder="Apellidos Completos">
      </mat-form-field>
      <mat-form-field >
      <mat-label>Ingresa tu Correo Electronico</mat-label>
      <input matInput [(ngModel)]="usuarios.correo" name="correo" placeholder="Correo Electronico">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Elige tu rol</mat-label>
        <mat-select [(ngModel)]="usuarios.Rol" name="rol">
          <mat-option value="Informador"> Informador</mat-option>
          <mat-option  value="Desarrollador"> Desarrollador</mat-option>
          <mat-option  value="Verificador"> Verificador</mat-option>


        </mat-select>
      </mat-form-field>

    

       <button mat-raised-button type="submit" (click)="adduser()"registrarse >Registrarse</button>

    </form>
      </mat-card>
</div>
</div>