
.contenedor{
    
        padding: 0%;
        margin: 0%;
        height: 100vh;
}

.main-div mat-card{
padding:0px;
}

.login-form{
    padding: 20px;
}
.tool{

    background: mediumblue;
    color: white;
    text-align: center;
    border-radius:5px;
    
}

