

<div class="contenedor">
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar class="titulo">BIENVENIDOS</mat-toolbar>
    <hr>
    <mat-toolbar class="tool">Iniciar Sesion</mat-toolbar>
    <form  fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
        <mat-label>Ingresa tu usuario</mat-label>
        <input matInput placeholder="Usuario">
      </mat-form-field>
    
      <mat-form-field >
        <mat-label>Ingresa tu contraseña</mat-label>
        <input matInput  type= "password"placeholder="Contraseña">
      </mat-form-field>
       <button mat-raised-button type="submit">Ingresar</button>
       <mat-toolbar class="tool"> Eres Nuevo? Registrate</mat-toolbar>

       <button mat-raised-button type="submit" (click)="navegar()">Registrarse</button>

    </form>
      </mat-card>
</div>
</div>